<header id="header">
  <div class="container main-menu">
    <div class="align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/"
          ><img
            src="/public/img/logo.png"
            alt="Bala Indonesia"
            width="45px"
        /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li>
            <a href="/" class="<%= navLink === 'home' ? 'menu-active' : ''; %>"
              >Home</a
            >
          </li>
          <li
            class="menu-has-children <%= navLink === 'products' ? 'parent-active' : ''; %>"
          >
            <a href="/products">Products</a>
            <ul>
              <li><a href="/products#balachips">Bala Chips</a></li>
              <li><a href="/products#balamagg">Bala Magg</a></li>
              <li><a href="/products#balameal">Bala Meal</a></li>
              <li><a href="/products">All</a></li>
            </ul>
          </li>
          <li
            class="menu-has-children <%= navLink === 'about' ? 'parent-active' : ''; %>"
          >
            <a href="/about">About</a>
            <ul>
              <li><a href="/about#history">History</a></li>
              <li><a href="/about#vision">Vision & Mission</a></li>
              <li><a href="/about#strength">Our Strength</a></li>
              <li><a href="/about#services">Our Services</a></li>
            </ul>
          </li>
          <li>
            <a
              href="/gallery"
              class="<%= navLink === 'gallery' ? 'menu-active' : ''; %>"
              >Gallery</a
            >
          </li>
          <li
            class="menu-has-children <%= navLink === 'teams' ? 'parent-active' : ''; %>"
          >
            <a href="/teams">Teams</a>
            <ul>
              <li><a href="/teams#teams">Our Team & Partners</a></li>
              <li><a href="/teams#client">Our Clients</a></li>
            </ul>
          </li>
          <li>
            <a
              href="/careers"
              class="<%= navLink === 'careers' ? 'menu-active' : ''; %>"
              >Career</a
            >
          </li>
          <li
            class="menu-has-children <%= navLink === 'blog' ? 'parent-active' : ''; %>"
          >
            <a href="/blog">Blog</a>
            <ul>
              <li><a href="/blog#our-company">Our Company</a></li>
              <li><a href="/blog#biotech">Biotechnology</a></li>
              <li><a href="/blog#business">Sales & Marketing</a></li>
            </ul>
          </li>
          <li>
            <a
              href="/contact"
              class="<%= navLink === 'contact' ? 'menu-active' : ''; %>"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- #header -->
